#menu
{
	position: fixed;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;  
	background-color: rgba(20, 17, 0, 0.897);
	float: left;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(139, 116, 243);
}

li a {
	float: left;
	display: block;
	color: rgb(196, 45, 18);
	font-weight: bolder;
	font-size: large;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	cursor: pointer;
	font-family: Verdana, sans-serif;
}

li a:hover {
  background-color: rgb(196, 45, 18);
  color: #ffffff;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}